# SPDX-License-Identifier: LGPL-2.1-or-later
.mkosi-private
build/
mkosi.local/
mkosi.local.conf
mkosi.pkgcache/
mkosi.extra/efi/loader/keys/sbkeys/
mkosi.images/base/mkosi.conf.d/99-local.conf
swtpm/
cpeekio.sh
