" FORMATTING
set nocompatible
set fileformat=unix
filetype plugin on
syntax on
" SPACING
set shiftwidth=8
set tabstop=8
set autoindent
set smartindent
set noexpandtab
set backspace=indent,eol,start


" UI
"
"   Indicators
set number
set relativenumber
set showmatch
set matchpairs=(:),{:},[:],<:>
set incsearch
set hlsearch
set ignorecase
set smartcase
set scrolloff=5
"   Drawing
set lazyredraw
set ttyfast
"   Window
set nowrap
set splitkeep="screen"
set splitright
set winminheight=0
set scrolloff=5
set foldmethod=manual
"   Gutter
set laststatus=2
set showcmd
set showmode
set wildmenu
set wildmode=list:longest
set shortmess=aost
" Timing
set timeoutlen=200


" PERSISTENCE
set autowrite
if has("persistent_undo")
  set undodir=~/.cache/vim/undo
  set undofile
endif


" AUTOCOMMANDS
augroup ligrc_winch
  au!
  au WinLeave * setlocal nocursorline
  au BufWinLeave * {
    if !(&l:buftype =~# 'help\|nowrite\|nofile\|terminal' || &ft ==# 'netrw')
      mkview
    endif
  }
  au VimEnter,WinEnter * setlocal cursorline
  au BufWinEnter * {
    if &l:buftype ==# 'help'
      wincmd L
    else
      silent! loadview
    endif
  }
augroup END

" MAPPINGS
"
"   Leader
nnoremap <Space> <nop>
let mapleader=" "
"   Navigation
nnoremap <C-D> <C-D>zz
nnoremap <C-U> <C-U>zz
nnoremap <C-J> 5j
nnoremap <C-K> 5k
nnoremap o o<ESC>
nnoremap O O<ESC>
nnoremap n nzz
nnoremap N Nzz
nnoremap { {zz
nnoremap } }zz
"   Bind meta-keys
execute "set <M-N>=\en"
execute "set <M-P>=\ep"
execute "set <M-B>=\eb"
execute "set <M-F>=\ef"
"   Emacs-style insert mode
inoremap <C-A> <Home>
inoremap <C-B> <Left>
inoremap <C-D> <Del>
inoremap <C-E> <End>
inoremap <C-F> <Right>
inoremap <M-B> <S-Left>
inoremap <M-F> <S-Right>
inoremap <M-N> <C-N>
inoremap <M-P> <C-P>
inoremap <C-N> <Down>
inoremap <C-P> <Up>
"   Emacs-style command mode
cnoremap <C-A> <Home>
cnoremap <C-B> <Left>
cnoremap <C-D> <Del>
cnoremap <C-E> <End>
cnoremap <C-F> <Right>
cnoremap <C-N> <Down>
cnoremap <C-P> <Up>
cnoremap <M-B> <S-Left>
cnoremap <M-F> <S-Right>
"   Highlight
nnoremap <Leader><Leader> :noh<CR>
"   Quiting
nnoremap <Leader>htn :w<CR>
nnoremap <Leader>tns :q<CR>
nnoremap <Leader>snth :wq<CR>
nnoremap <Leader>ueo :qa<CR>
"   Pasting
xnoremap <Leader>p "_dP
"   Autoclose
inoremap () ()<LEFT>
inoremap {} {}<LEFT>
inoremap [] []<LEFT>
inoremap "" ""<LEFT>
inoremap '' ''<LEFT>
inoremap (<LEADER> ()
inoremap {<LEADER> {}
inoremap [<LEADER> []
inoremap {<CR> {<CR><CR>}<UP><TAB>

set statusline=\ %Y[%M]\ Idx[\%l,\ %c\]\ =\ 0x%B%=\ %F\ %r
